.sidebar__wrapper {
  display: flex;
}
.sidebar {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  color: var(--sidebar-text-color);
  padding: var(--sp-md) var(--sp-md);
  background-color: var(--sidebar-bg-color);
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--sp-md);
  margin-bottom: var(--sp-md);
}

.sidebar__title {
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
}

.sidebar__close-icon {
  font-size: calc(var(--is-sm) + 4px);
  cursor: pointer;
}

.sidebar__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sp-lg);
}

.sidebar__link {
  width: 100%;
  text-decoration: none;
}

.sidebar__item {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: var(--sp-lg);
  padding: var(--sp-md);
  border-radius: var(--br-md);
  justify-content: flex-start;
  color: var(--sidebar-text-color);
  transition: background-color 0.2s ease-in-out;
}

.sidebar__item:hover {
  color: white;
  background-color: var(--sidebar-icon-color-active);
}

.sidebar__item-icon {
  color: inherit;
  font-size: var(--fs-medium);
}

.sidebar__item-name {
  color: inherit;
  font-size: var(--fs-large);
  font-weight: var(--fw-medium);
}
.sidebar__content {
  flex: 1;
  padding: 16px;
  background-color: var(--sidebar-surface-color);
}