.input__field {
  margin-bottom: var(--sp-md);
  width: 100%;
}
.input {
  width: 100%;
  padding: var(--sp-sm) var(--sp-md);
  font-family: var(--font-family);
  font-size: 1rem;
  outline: 0;
  border: 1px solid var(--outline-color-secondary);
  border-radius: var(--br-xl);
}

.input__error {
  border: 2px solid var(--error-color);
}

.error__message {
  color: var(--error-color);
  padding: var(--sp-sm);
  font-size: var(--fs-small);
  margin-block: var(--sp-xs);
}
