.search__wrapper {
  position: relative;
}

.search__input {
  width: 100%;
  padding: 0.75rem 3rem;
  font-size: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 0 1px var(--color-gray-300) inset;
  color: var(--color-gray-700);
  outline: none;
  border: none;
  font-family: var(--font-family);
  font-weight: var(--fw-medium);
}

.search__icon {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: var(--color-gray-500);
}
