.input__field {
  margin-bottom: var(--sp-md);
  width: 100%;
}

.password__container {
  position: relative;
}

.input {
  width: 100%;
  padding: var(--sp-sm) var(--sp-md);
  font-family: var(--font-family);
  font-size: 1rem;
  outline: 0;
  border: 2px solid var(--outline-color-secondary);
  border-radius: var(--br-xl);
}

.password__icon {
  cursor: pointer;
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  right: var(--sp-md);
  transform: translateY(-50%);
}

.error__message {
  color: var(--error-color);
  padding: var(--sp-sm);
  font-size: var(--fs-small);
  margin-block: var(--sp-xs);
}
