.new-notes__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--sp-md);
  height: 100%;
}
.input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-md);
}

.input__title {
  flex: 1;
  border: 0;
  outline: 0;
  color: var(--text-color);
  padding: var(--sp-md);
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  font-family: var(--font-family);
  background-color: inherit;
}

.icon__container {
  display: flex;
  gap: var(--sp-md);
}

.input__icon {
  font-size: calc(var(--fs-large) + 8px);
  margin-right: 5px;
  color: var(--icon-color);
  cursor: pointer;
}

.input__content {
  flex: 1;
  border: 0;
  outline: none;
  resize: none;
  padding: var(--sp-md);
  font-size: var(--fs-large);
  font-weight: var(--fw-medium);
  font-family: var(--font-family);
  background-color: inherit;
  color: var(--text-color);
}

.custom__bottom {
  position: absolute;
  border-radius: 300px;
  width: 20%;
  bottom: 5%;
  left: 50%;
  padding: 16px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.color__button {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
}
.color__one {
  background-color: #C2C5FF;
}
.color__two {
  background-color: #FFCCD9;
}

.color__three {
  background-color: #FFF1D6;
}

.color__four {
  background-color: #B3DFFF;
}