.notes__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.header__title {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}
.header__icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.notes__container {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}
