.settings__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings__container {
  height: 50vh;
  display: flex;
  gap: 20px;
}

.first,
.second {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.first h2 {
  color: var(--medium-dark-gray-color);
  font-weight: 700;
  font-size: 32px;
}

.personal__info__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.personal__info__item label {
  color: var(--medium-dark-gray-color);
  font-weight: 400;
  font-size: 22px;
}

.personal__info__item input {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-weight: 400;
  font-size: 22px;
  padding: 22px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.btn {
  width: 50%;
  border: none;
  padding: 8px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
  background-color: var(--button-color);
  font-family: var(--font-family);
  cursor: pointer;
}

.second h2 {
  color: var(--medium-dark-gray-color);
  font-weight: 700;
  font-size: 32px;
}

.appearance__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.appearance__item:hover {
  color: var(--blue-violet-color);
}

.appearance__item p {
  font-weight: 400;
  font-size: 22px;
}

.appearance__icon {
  width: 26px;
  height: 26px;
}
