@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Define the default theme colors, typography, and layout values */
:root {
  /* Theme colors */
  --blue-violet-color: #717eee;
  --dark-gray-color: #191D1E;
  --light-gray-color: #f8fafb;
  --very-dark-gray-color: #161819;
  --medium-dark-gray-color: #909090;
  --white-color: #ffffff;
  --crimson-color: #ed4c5c;
  --lime-green: #28a745;

  --text-color: var(--very-dark-gray-color);
  --icon-color: var(--very-dark-gray-color);
  --background-color: var(--white-color);
  --error-color: var(--crimson-color);
  --success-color: var(--lime-green);
  --span-color: var(--blue-violet-color);
  --outline-color-primary: var(--blue-violet-color);
  --outline-color-secondary: var(--very-dark-gray-color);
  --outline-text-color: var(--very-dark-gray-color);
  --button-color: var(--blue-violet-color);
  --button-text-color-primary: var(--white-color);
  --button-text-color-secondary: var(--very-dark-gray-color);
  --subtitles-color: var(--medium-dark-gray-color);
  --progress-bar-border-color: var(--light-gray-color);
  --progress-bar-background-color: var(--blue-violet-color);
  --divider-color: var(--light-gray-color);
  --divider-text-color: var(--medium-dark-gray-color);
  --sidebar-bg-color: var(--white-color);
  --sidebar-text-color: var(--dark-gray-color);
  --sidebar-icon-color: var(--dark-gray-color);
  --sidebar-icon-color-active: var(--blue-violet-color);
  --sidebar-surface-color: var(--light-gray-color);

  --color-pallette-surface: var(--white-color);

  /* Typography */
  --font-family: "Poppins", sans-serif;

  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;

  /* Font sizes */
  --fs-small: 0.8rem;
  --fs-medium: 1rem;
  --fs-large: 1.2rem;
  --fs-xlarge: 1.4rem;
  --fs-xxlarge: 1.6rem;

  /* Spacing values */
  --sp-xs: 4px;
  --sp-sm: 8px;
  --sp-md: 16px;
  --sp-lg: 24px;
  --sp-xl: 32px;

  /* Border radius values */
  --br-sm: 4px;
  --br-md: 8px;
  --br-lg: 16px;
  --br-xl: 32px;

  /* Box shadows */
  --sh-sm: 0px 1px 2px rgba(0, 0, 0, 0.1);
  --sh-md: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --sh-lg: 0px 4px 8px rgba(0, 0, 0, 0.1);

  /* Icon Size */
  --is-sm: 16px;
  --is-md: 24px;
  --is-lg: 32px;
  --is-xl: 48px;
}

/* Define the colors for the dark theme */
body.dark-theme {
  --text-color: var(--light-gray-color);
  --icon-color: var(--light-gray-color);
  --background-color: var(--very-dark-gray-color);
  --outline-color-primary: var(--blue-violet-color);
  --outline-color-secondary: var(--light-gray-color);
  --outline-text-color: var(--white-color);
  --button-color: var(--blue-violet-color);
  --button-text-color-secondary: var(--white-color);
  --subtitles-color: var(--light-gray-color);
  --sidebar-bg-color: var(--dark-gray-color);
  --sidebar-text-color: var(--light-gray-color);
  --sidebar-icon-color: var(--light-gray-color);
  --sidebar-icon-color-active: var(--blue-violet-color);
  --sidebar-surface-color: var(--very-dark-gray-color);
  --color-pallette-surface: var(--dark-gray-color);
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  transition: background-color 0.5s, color 0.5s;
}
