.button__image {
  margin-bottom: var(--sp-md);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  font-family: var(--font-family);
  border: 2px solid var(--primary-text);
  background-color: transparent;
  padding-inline: var(--sp-lg);
  padding-block: var(--sp-sm);
  border-radius: var(--br-xl);
  font-size: 1rem;
  font-weight: var(--fw-medium);
  color: var(--primary-text);
}

.button__icon {
  margin-inline-end: var(--sp-sm);
  width: 1.2rem;
  height: 1.2rem;
}
