/* Navbar styles */
.navbar {
  height: 10vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar title styles */
.navbar__title {
  font-size: 1.875rem;
  font-weight: var(--fw-bold);
  color: var(--text-color);
}

/* Navbar buttons styles */
.navbar__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sp-lg);
}

/* Navbar icons styles */
.navbar__icons {
  height: var(--is-lg);
  width: var(--is-lg);
  color: var(--icon-color);
  cursor: pointer;
}
