.note__card {
  flex: 1;
  width: 300px;
  height: 300px;
  border-top: 10px solid #FF6C92;
  background-color: #FFCCD9;
  padding: 16px;
  display: flex;
  border-radius: 16px;
  flex-direction: column;
}

.timestamp {
  font-size: 14px;
  margin-bottom: 8px;
}

.note__card__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.note__card__header {
  display: flex;
  justify-content: space-between;
}

.note__card__title {
  font-size: 22px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note__card__body {
  overflow: hidden;
  text-overflow: ellipsis;
}

.note__card__content {
  height: min-content;
}
